[Unit]
Description= bbway-cloud-gateway
After=network.target
Before=bbway-cloud-gateway.service

[Service]
ExecStart=/opt/java/bin/java -jar /home/microservice/cms/bbway-cloud-gateway.jar --spring.profiles.active=dev
Type=simple
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target

