tee /usr/lib/systemd/system/bbway-gateway.service <<- 'EOF'
[Unit]
Description= BWPAAS API gateway. Copyright (c) 2006-2023 Bbrightway.
After=network.target

[Service]
EnvironmentFile=-/opt/project/service/cloud.conf
ExecStart=java -jar /opt/project/service/bbway-cloud-gateway.jar 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bbway-gateway
Type=simple
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
EOF