tee /usr/lib/systemd/system/bbway-sms.service <<- 'EOF'
[Unit]
Description= BWPAAS message center. Copyright (c) 2006-2023 Bbrightway.
After=network.target

[Service]
EnvironmentFile=-/opt/project/service/cloud.conf
ExecStart=java -jar /opt/project/service/bbway-sms-service.jar 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bbway-sms
Type=simple
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
EOF